<%- include("../partials/header") %> 
<main class="main">
    <h1 class="main__title">Register</h1>
    <form action="/account/register" method="POST" class="form">
        <%- include("../partials/account-form-fields") %> 
    </form>
</main>
<%- include("../partials/footer") %> 