<% if (typeof error !== "undefined") { %>
    <p class="form-error"><%= error.message %> </p>
<% } %> 
<div class="form-group">
    <label for="title" class="form-group__label">Title</label>
    <input value="<%= article.title %>" type="text" name="title" class="form-group__input" id="title" required>
</div>
<div class="form-group">
    <label for="description" class="form-group__label">Description</label>
    <textarea name="description" class="form-group__textarea" id="description" required><%= article.description %></textarea>
</div>
<div class="form-group">
    <label for="markdown" class="form-group__label">Markdown</label>
    <textarea rows="30" name="markdown" class="form-group__textarea" id="markdown" required><%= article.markdown %></textarea>
</div>
<a href="/" class="form-cancel">Cancel</a>
<button type="submit" class="form-submit">Submit</button>