<header class="header">
    <h1 class="header__title">Alex Curran Blog</h1>
    <nav class="nav">
        <a href="/account/login" class="nav__link">Login</a>
        <a href="/account/register" class="nav__link">Register</a>
    </nav>
</header>