<main class="main">
    <% articles.forEach(article => { %>
        <article class="article">
            <h2 class="article__title"><%= article.title %> </h2>
            <p><%= article.description %> </p>
        </article>
    <% }); %>
</main>

<%- include("./partials/footer") %> 