<%- include("../partials/header") %>
<main class="main">
    <h1 class="new-title">New Post</h1>
    <form action="/articles" method="POST" class="form">
        <%- include("../partials/form-fields") %> 
    </form>
</main>
<%- include("../partials/footer") %> 